<app-header></app-header>
<div class="main-container">
    <div class="sidenav-container">
        <app-sidenav></app-sidenav>
    </div>
    <div class="main">
        <div class="header-title">
            <h2>Mahesh Chaudhari</h2>
            <p>Full Stack Developer | Started on Nov 26th,2023</p>
        </div>
        <div class="firstSection">
            <mat-card class="firstCard">
                <mat-card-title>Basic Info
                    <button mat-icon-button matTooltip="Click to Edit" (click)="edit(0)" class="iconbutton"
                        color="primary">
                        <mat-icon aria-label="Edit" class="iconButton">edit</mat-icon>
                    </button>
                </mat-card-title>
                <mat-divider></mat-divider>
                <mat-card-content>
                    <div>
                        <table class="basicInfoTable">
                            <tbody>
                                <thead>
                                    <tr>
                                        <th>Name:-</th>
                                        <td>Mahesh Chaudhari</td>
                                    </tr>
                                </thead>
                                <thead>
                                    <tr>
                                        <th>Gender:-</th>
                                        <td>Male</td>
                                    </tr>
                                </thead>
                                <thead>
                                    <tr>
                                        <th>Date of Birth:-</th>
                                        <td>Oct 20th,1995</td>
                                    </tr>
                                </thead>
                                <thead>
                                    <tr>
                                        <th>Marital status:-</th>
                                        <td>Married</td>
                                    </tr>
                                </thead>
                            </tbody>
                        </table>
                    </div>
                </mat-card-content>
            </mat-card>

            <mat-card class="secondCard">
                <mat-card-title>Contact Info
                    <button mat-icon-button matTooltip="Click to Edit" (click)="edit(0)" class="iconbutton"
                        color="primary">
                        <mat-icon aria-label="Edit" class="iconbutton">edit</mat-icon>
                    </button>
                </mat-card-title>
                <mat-divider></mat-divider>
                <mat-card-content>
                    <div>
                        <table class="contactInfoTable">
                            <tbody>
                                <thead>
                                    <tr>
                                        <th>Work phone:-</th>
                                        <td>-</td>
                                    </tr>
                                </thead>
                                <thead>
                                    <tr>
                                        <th>Work email:-</th>
                                        <td>email</td>
                                    </tr>
                                </thead>
                                <thead>
                                    <tr>
                                        <th>Personal phone :-</th>
                                        <td>9527708661</td>
                                    </tr>
                                </thead>
                                <thead>
                                    <tr>
                                        <th>Personal email:-</th>
                                        <td>email</td>
                                    </tr>
                                </thead>
                            </tbody>
                        </table>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>