.card-container {
  max-width: 600px;
  margin: 2em auto;
  text-align: center;
  max-height: 600px;
  padding-top: 2rem;
  margin-top: 20px;
}

.heading {
  padding-bottom: 2rem;
}

.input-box {
  width: 450px;
}

.backButton {
  margin-top: 5rem;
  float: left;

}

.otpButton {
  margin-top: 5rem;
  float: right;
}