<mat-toolbar class="navbar" color="primary">
  <mat-toolbar-row class="nav-container">
    <span>Asset Management</span>
  </mat-toolbar-row>
</mat-toolbar>


<mat-sidenav-container class="sidenav-container">


  <mat-sidenav mode="side" opened>


    <div class="image-container">
      <label class="hoverable">
        <img [src]="imageUrl ? imageUrl : 'https://www.w3schools.com/howto/img_avatar.png'">

      </label>
      <br>
      <div>
        <button id="fileInput" type="file" (click)="onSelectFile($event)">
          <div>Choose file</div>
        </button>
      </div>
    </div>
    <br>
    <button mat-button class='delete-btn' *ngIf="imageUrl" (click)="delete()">delete</button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>

    <button mat-button class="menu-button">
      <mat-icon>person</mat-icon>
      <span>Profile</span>
    </button>

    <button mat-button class="menu-button">
      <mat-icon>info</mat-icon>
      <span>about</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button">
      <mat-icon>help</mat-icon>
      <span>Help</span>
    </button>

  </mat-sidenav>
  <mat-sidenav-content>
    <div class="sidenav-content">
      Main content
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>