<app-header></app-header>
<div class="main-container">
    <div class="sidenav-container">
        <app-sidenav></app-sidenav>
    </div>

    <div class="main-content">
        <div class="header-title">
            <h2><u>Welcome To Dashboard</u></h2>
        </div>
        <div class="firstSection">
            <mat-card class="assessCard">
                <mat-card-title>Number Of Assess</mat-card-title>
                <mat-card-content>
                    <div class="assessImage">

                    </div>
                </mat-card-content>
            </mat-card>

            <mat-card class="valueOfAssetCard">
                <mat-card-title>Value Of Assets</mat-card-title>
                <mat-card-content>
                    <div class="valueOfAssetImg">

                    </div>
                </mat-card-content>
            </mat-card>

            <mat-card class="netAssetCard">
                <mat-card-title>Net Assets Value</mat-card-title>
                <mat-card-content>
                    <div class="netAssetImg">

                    </div>
                </mat-card-content>
            </mat-card>

            <mat-card class="fascalYearCard">
                <mat-card-title>Purchases In Fascal Year</mat-card-title>
                <mat-card-content>
                    <div class="fascalYearImg">

                    </div>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="secondSection">
            <mat-card class="assetValueCard">
                <mat-card-title>Asset Value</mat-card-title>
                <mat-card-content>
                    <div class="assetValueImg">

                    </div>
                </mat-card-content>
            </mat-card>

            <mat-card class="fundsCard">
                <mat-card-title>Funds</mat-card-title>
                <mat-card-content>
                    <div class="fundsImg">

                    </div>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="thirdSection">
            <mat-card class="feedsCard">
                <mat-card-title>Feeds</mat-card-title>
                <mat-card-content>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Asset tag ID</th>
                                <th>Description</th>
                                <th>Due date</th>
                            </tr>
                        </thead>

                    </table>
                </mat-card-content>
            </mat-card>

            <mat-card class="AlertsCard">
                <mat-card-title>Alerts</mat-card-title>
                <mat-card-content>
                    <div>

                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>