<app-header></app-header>
<div class="main-container">
    <div class="sidenav-container">
        <app-sidenav></app-sidenav>
    </div>

    <div class="main-content">
        <div class="header-title">
            <h2><u>Welcome to dashboard</u></h2>
        </div>
        <div class="section1">
            <mat-card class="card1">
                <mat-card-title>Number of Assess</mat-card-title>
                <mat-card-content>
                    <div class="image1">

                    </div>
                </mat-card-content>
            </mat-card>

            <mat-card class="card2">
                <mat-card-title>Value of Assets</mat-card-title>
                <mat-card-content>
                    <div class="image2">

                    </div>
                </mat-card-content>
            </mat-card>

            <mat-card class="card3">
                <mat-card-title>Net Assets Value</mat-card-title>
                <mat-card-content>
                    <div class="image3">

                    </div>
                </mat-card-content>
            </mat-card>

            <mat-card class="card4">
                <mat-card-title>Purchases in Fascal Year</mat-card-title>
                <mat-card-content>
                    <div class="image4">

                    </div>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="section2">
            <mat-card class="card5">
                <mat-card-title>Asset value</mat-card-title>
                <mat-card-content>
                    <div class="image5">

                    </div>
                </mat-card-content>
            </mat-card>

            <mat-card class="card6">
                <mat-card-title>Funds</mat-card-title>
                <mat-card-content>
                    <div class="image6">

                    </div>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="section3">
            <mat-card class="card7">
                <mat-card-title>Feeds</mat-card-title>
                <mat-card-content>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Asset tag ID</th>
                                <th>Description</th>
                                <th>Due date</th>
                            </tr>
                        </thead>

                    </table>
                </mat-card-content>
            </mat-card>

            <mat-card class="card8">
                <mat-card-title>Alerts</mat-card-title>
                <mat-card-content>
                    <div>

                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>