.card {
  max-width: 900px;
  margin: 2em auto;
  max-height: 900px;
  padding-top: 20px;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.heading {
   text-align: center;
}

.salutation {
  width: 150px;
  margin-left: 75px;
  height: 57px;
}

.input-box1 {
  margin-left: 10px;
  width: 517px;
}

.input-box2 {
  margin-left: 75px;
  
  width: 677px;
}
.input-box {
  margin-left: 75px;
  width: 300px;
  
}

.navbar {
  background-color: #3f51b5;
  color: #ffffff;
}

.Gender-container {
  margin-left: 73px;
}

.btn1 {
  margin-left: 10px;
}
.btn2{
  margin-left: 40px;
}

.btn3{
  margin-left: 40px;
}


.button {
margin-right: 78px;
float: right;
  width: 110px;
  height: 40px;
}

.returnlogin-container {
  margin-left: 73px;
}

