<app-header></app-header>
<mat-card class="card">
  <mat-card-content>
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
      <div class="heading">
        <h2>Registration</h2>
      </div>
      <br>
      <div class="firstRow">
        <mat-form-field class="salutation" appearance="outline">
          <mat-label>Salutation</mat-label>
          <mat-select required="*">
            <mat-option>None</mat-option>
            @for (Salutation of Salutations ; track Salutation) {
            <mat-option [value]="Salutation">{{Salutation}}</mat-option>
            }
          </mat-select>
        </mat-form-field>

        <mat-form-field class="nameInput" appearance="outline">
          <mat-label>Full name</mat-label>
          <input class="input-field" matInput type="text" formControlName="FullName" placeholder="Enter your full name">
          <mat-error *ngIf="registrationForm.get('FullName')?.hasError('required')">Full name is required</mat-error>
          <mat-error *ngIf="registrationForm.get('FullName')?.hasError('FullName')">Please enter a valid email
            address</mat-error>
        </mat-form-field>

        <mat-form-field class="emailInput" appearance="outline">
          <mat-label>Email</mat-label>
          <input class="input-field" matInput type="email" formControlName="Email" placeholder="Enter your Email"
            required="*">
          <mat-error *ngIf="registrationForm.get('Email')?.hasError('required')">Email is required</mat-error>
          <mat-error *ngIf="registrationForm.get('Email')?.hasError('Email')">Please enter a valid email
            address</mat-error>
        </mat-form-field>
      </div>

      <div class="secondRow">
        <mat-form-field class="input-box" appearance="outline">
          <mat-label>User name</mat-label>
          <input class="input-field" matInput type="text" formControlName="UserName" placeholder="Enter your userName">
          <mat-error *ngIf="registrationForm.get('UserName')?.hasError('required')">Username is required</mat-error>
          <mat-error *ngIf="registrationForm.get('UserName')?.hasError('UserName')">Please enter a valid
            Username</mat-error>
        </mat-form-field>

        <mat-form-field class="input-box" appearance="outline">
          <mat-label>Phone Number</mat-label>
          <input class="input-field" matInput type="text" formControlName="PhoneNumber" placeholder="Enter your number">
          <mat-error *ngIf="registrationForm.get('PhoneNumber')?.hasError('required')">PhoneNumber is
            required</mat-error>
          <mat-error *ngIf="registrationForm.get('PhoneNumber')?.hasError('PhoneNumber')">Please enter a valid
            PhoneNumber</mat-error>
        </mat-form-field>
      </div>
      <div class="thirdRow">
        <mat-form-field class="input-box" appearance="outline">
          <mat-label>Password</mat-label>
          <input class="input-field" id="password-field1" matInput [type]="showPassword ? 'text' : 'password'"
            type="password" placeholder="Enter Password" formControlName="password" matInput required>
          <mat-error *ngIf="!registrationForm.controls['password'].valid"> Enter Password </mat-error>
          <mat-icon matSuffix (click)="togglePasswordVisibility()">
            {{!showPassword?'visibility_off':'visibility'}}
          </mat-icon>
        </mat-form-field>
        <mat-form-field class="input-box" appearance="outline">
          <mat-label>Confirm Password </mat-label>
          <input class="input-field" id="password-field" matInput [type]="showConfirmPassword ? 'text' : 'password'"
            type="password" formControlName="confirmPassword" placeholder="Enter Confirm Password" matInput
            compare="password" required>
          <mat-error>Password Does not Match</mat-error>
          <mat-icon matSuffix (click)="toggleConfirmPasswordVisibility()">
            {{!showConfirmPassword?'visibility_off':'visibility'}}
          </mat-icon>
        </mat-form-field>
      </div>
      <div class="Gender-container">
        <mat-label>Gender:-</mat-label>
        <mat-radio-group aria-label="Select an option">
          <mat-radio-button value="Male" class="maleRadioButton">Male</mat-radio-button>
          <mat-radio-button value="Female" class="femaleRadioButton">Female</mat-radio-button>
          <mat-radio-button value="Others" class="otherRadioButton">Others</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="Register-btn">
        <span class="returnlogin-container">Already have an account?
          <a routerLink="/login-page">Login</a></span>
        <button class="registerbutton" mat-raised-button color="primary" (click)="onSubmit()">Register</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>