<app-header></app-header>
<mat-card class="card">
    <mat-card-content>
        <div class="form-container">
            <form [formGroup]="setPassword" (ngSubmit)="onSubmit()">
                <h2 class="setPassword">Set Password</h2>
                <div class="form-field">
                    <div class="newPassword">
                        <mat-form-field class="input-box" appearance="outline">
                            <mat-label>New password</mat-label>
                            <input class="input-field" id="password-field" matInput
                                [type]="showPassword ? 'text' : 'password'" type="password" formControlName="password"
                                placeholder="Enter password" matInput required>
                            <mat-error *ngIf="!setPassword.controls['password'].valid"> Enter Password</mat-error>
                            <mat-icon matSuffix (click)="toggleNewPasswordVisibility()">
                                {{!showPassword?'visibility_off':'visibility'}}
                            </mat-icon>
                        </mat-form-field>
                    </div>
                    <div class="confirmpassword">
                        <mat-form-field class="input-box" appearance="outline">
                            <mat-label>Confirm Password </mat-label>
                            <input class="input-field" id="password-field" matInput
                                [type]="showConfirmPassword ? 'text' : 'password'" type="password"
                                formControlName="confirmPassword" placeholder="Enter Confirm Password" matInput
                                compare="password" required>
                            <mat-error>Password Does not Match</mat-error>
                            <mat-icon matSuffix (click)="toggleConfirmPasswordVisibility()">
                                {{!showConfirmPassword?'visibility_off':'visibility'}}
                            </mat-icon>
                        </mat-form-field>
                    </div>
                </div>
                <div class="button-container">
                    <button class="cancelButton" routerLink="/login-page" mat-raised-button
                        color="primary">Cancel</button>
                    <button class="setPasswordButton" mat-raised-button color="primary">Set Password</button>
                </div>
            </form>
        </div>
    </mat-card-content>
</mat-card>