<app-header></app-header>
<mat-card class="card">
    <mat-card-content>
        <div class="form-container">
            <form [formGroup]="setpassword" (ngSubmit)="onSubmit()">
                <h2 class="setpassword">Set password</h2>
                <div class="row3">
                    <mat-form-field class="input-box" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input class="input-field" id="password-field1" matInput
                            [type]="showpassword1 ? 'text' : 'password'" type="password" placeholder="Enter Password"
                            formControlName="password" matInput [type]="hidePassword ? 'password' : 'text'" required>
                        <mat-error *ngIf="!setpassword.controls['password'].valid"> Enter Password </mat-error>
                        <mat-icon matSuffix (click)="togglePasswordVisibility1()">
                            {{!showpassword1?'visibility_off':'visibility'}}
                        </mat-icon>
                    </mat-form-field>
                    <mat-form-field class="input-box" appearance="outline">
                        <mat-label>Confirm Password </mat-label>
                        <input class="input-field" id="password-field" matInput
                            [type]="showpassword2 ? 'text' : 'password'" type="password"
                            formControlName="confirmpassword" placeholder="Enter Confirm Password" matInput
                            [type]="hidePassword ? 'password' : 'text'" compare="password" required>
                        <mat-error>Password Does not Match</mat-error>
                        <mat-icon matSuffix (click)="togglePasswordVisibility2()">
                            {{!showpassword2?'visibility_off':'visibility'}}
                        </mat-icon>
                    </mat-form-field>
                </div>
                <div class="button-container">
                    <button class="btn1" routerLink="/login-page" mat-raised-button color="primary">Cancel</button>
                    <button class="btn2" mat-raised-button color="primary">Set password</button>
                </div>
            </form>
        </div>
    </mat-card-content>
</mat-card>