.card {
  max-width: 600px;
  margin: 2em auto;
  text-align: center;
  max-height: 600px;
  padding-top: 2%;
  margin-top: 10px;
}

.setpassword {
  margin-bottom: 30px;
}

.input-box {
  width: 300px;
  margin-top: 12px;
}

.cancelButton {
  float: left;
  margin-top: 5rem;
}

.setPasswordButton {
  float: right;
  margin-top: 5rem;
}