<div class="navbar-container">
    <mat-toolbar class="navbar" color="primary">
        <mat-toolbar-row class="nav-container">
            <span>Asset Management</span>
        </mat-toolbar-row>
    </mat-toolbar>
</div>
<mat-card class="card">
    <mat-card-content>
        <div class="form-container">
            <form [formGroup]="setpassword" (ngSubmit)="onSubmit()">
                <h2 class="setpassword">Set password</h2>
                <div class="form-field">
                    <div class="newpassword">
                        <mat-form-field class="input-box" appearance="outline">
                            <mat-label>New password</mat-label>
                            <input class="input-field" id="password-field1" matInput
                                [type]="showPassword1 ? 'text' : 'password'" type="password" formControlName="password"
                                placeholder="Enter password" matInput [type]="hidePassword ? 'password' : 'text'"
                                required>
                            <mat-error *ngIf="!setpassword.controls['password'].valid"> Enter Password</mat-error>
                            <mat-icon matSuffix (click)="togglePasswordVisibility1()">
                                {{!showPassword1?'visibility_off':'visibility'}}
                            </mat-icon>
                        </mat-form-field>
                    </div>
                    <div class="confirmpassword">
                        <mat-form-field class="input-box" appearance="outline">
                            <mat-label>Confirm Password </mat-label>
                            <input class="input-field" id="password-field" matInput
                                [type]="showPassword2 ? 'text' : 'password'" type="password"
                                formControlName="confirmpassword" placeholder="Enter Confirm Password" matInput
                                [type]="hidePassword ? 'password' : 'text'" compare="password" required>
                            <mat-error>Password Does not Match</mat-error>
                            <mat-icon matSuffix (click)="togglePasswordVisibility2()">
                                {{!showPassword2?'visibility_off':'visibility'}}
                            </mat-icon>
                        </mat-form-field>
                    </div>
                </div>
                <div class="button-container">
                    <button class="btn1" routerLink="/login-page" mat-raised-button color="primary">Cancel</button>
                    <button class="btn2" mat-raised-button color="primary">Set password</button>
                </div>
            </form>
        </div>
    </mat-card-content>
</mat-card>